<?xml version="1.0"?>
<launch>
    <!-- Load network configuration parameters -->
    <rosparam command="load" file="$(find rx1_bringup)/config/network.yaml" />
    
    <!-- WebSocket port -->
    <arg name="port" default="9090"/>
    
    <!-- Start rosbridge server -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="$(arg port)"/>
        <!-- Set buffer size -->
        <arg name="max_message_size" value="10000000"/>
    </include>
    
    <!-- Start ZMQ bridge -->
    <!-- Ensure we're using simulation time -->
    <param name="/use_sim_time" value="true" />
    
    <!-- ZMQ Bridge node -->
    <node name="ros_zmq_bridge" pkg="rx1_bringup" type="ros_zmq_bridge_rviz.py" output="screen">
        <!-- Pass the parameters directly to the node -->
        <rosparam command="load" file="$(find rx1_bringup)/config/network.yaml" />
    </node>
</launch>